/* Estilos para el contenedor del semáforo */
.semaforo {
    width: 100px;
    height: 250px;
    background-color: #333; /* Color de fondo del semáforo */
    border-radius: 10px; /* Bordes redondeados */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
  }

  /* Estilos comunes para las luces */
  .luz {
    width: 80px;
    height: 80px;
    border-radius: 50%; /* Hace que las luces sean redondas */
    background-color: #222; /* Color apagado por defecto */
  }

  /* Estilos específicos para la luz roja */
  #rojo {
    background-color: red; /* Color de la luz roja */
  }

  /* Estilos específicos para la luz amarilla */
  #amarillo {
    background-color: yellow; /* Color de la luz amarilla */
  }

  /* Estilos específicos para la luz verde */
  #verde {
    background-color: green; /* Color de la luz verde */
  }